body {
    height: 100vh;
    background: #121212 url("/images/background.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-image: linear-gradient(#232323, #1c1c1c);
    border: .5px solid #9999;
    border-radius: 25px;
    display: flex;
    justify-content: safe center;
    align-items: center;
    padding: 32px;
    column-gap: 48px;
}

.contentColumn {
    float: right;
    width: 635px;
    row-gap: 4px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 72px;
    margin: 0;
    color: #f2f2f2;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 48px;
    margin: 0;
    color: #bfbfbf;
}

p {
    font-family: 'Ledger', serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #adadad;
    margin: 0;
}

.socialBar {
    padding-top: 16px;
    display: flex;
    column-gap: 60px;
}